<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-jwplayer" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaJWPlayer</name>
    <js-module name="CordovaJWPlayer" src="www/CordovaJWPlayer.js">
        <clobbers target="cordova.plugins.CordovaJWPlayer" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaJWPlayer">
                <param name="ios-package" value="CordovaJWPlayer" />
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaJWPlayer.h"/>
        <source-file src="src/ios/CordovaJWPlayer.m" />
        <preference name="JWPLAYER_KEY_IOS" />
        <config-file target="*-Info.plist" parent="JWPlayerKey">
            <string>$JWPLAYER_KEY_IOS</string>
        </config-file>
        <framework src="src/ios/JWPlayer-iOS-SDK.framework" custom="true" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaJWPlayer">
                <param name="android-package" value="cordova-jwplayer.CordovaJWPlayer" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaJWPlayer.java" target-dir="src/cordova-jwplayer/CordovaJWPlayer" />
    </platform>
</plugin>